{% extends 'layouts/layout.html' %}

{% block title %} | {% endblock %} <h1 class="blog-header-logo text-dark">Ver entrada de blog</h1>

{% block content %}

<h2>{{post.title}}</h2>
<h4>{{post.subtitle}}</h4>
<br>
<p>{{post.content}}</p>
<p>{{post.foto}}</p>
<p>Creador: {{post.user}}</p>
<br>
<p>fecha de creación: {{post.created_at}}</p>
<hr/>

<h3>Comentarios</h3>
<br>
{% if not post.comments.all %}
    Todavía no hay comentarios... <a href="{% url 'AddComment' post.pk %}">Crear comentario</a>
{% else %}
    {% for comment in post.comments.all %}
        <strong>
        {{comment.person_name }} - creado: {{ comment.created_at }}
        </strong>
        <br/>
        {{ comment.content }}
        <br><br>
    {% endfor %}
    <a href="{% url 'AddComment' post.pk %}">Crear comentario</a>
{% endif %}

<hr/>
<button>
    <a href="{% url 'viewPosts' %}">Volver</a>
</button>


{% endblock %}