{% extends 'layouts/layout.html' %}
{% block title %}| Leyendo Post{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card mb-3 border-0 shadow p-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/{{ post.foto }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div>
                        <h3 class="card-title">{{ post.title }}</h3>
                        <small class="text-muted">{{ post.user }} | {{ post.published_at }}</small>
                    </div>
                    <div class="mt-4">
                        <p class="lh-base">{{ post.content|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="my-5">
        <h5>Comentarios</h5>

        <div class="list-group my-4">
            {% for comment in post.comments.all %}
                <div class="list-group-item list-group-item-action ">
                    <p class="mb-1 lh-sm">{{ comment.content }}</p>
                    <small class="text-secondary">{{ comment.person_name }} | {{ comment.created_at }}</small>
                </div>
            {% endfor %}
        </div>

        <div class="accordion" id="accordionForm">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Agregar un
                        comentario...
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                     data-bs-parent="#accordionForm">
                    <div class="accordion-body">
                        <form id="form_comment">
                            {% csrf_token %}
                            <input type="hidden" name="post" id="post" value="{{ post.pk }}">
                            <div class="d-flex flex-column gap-3">
                                {{ form|crispy }}
                            </div>

                            <div>
                                <div class="my-4 d-flex gap-2 justify-content-end">
                                    <input type="submit" value="Comentar" class="btn btn-dark">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        const commentForm = document.getElementById("form_comment")

        commentForm.addEventListener("submit", e => {
            e.preventDefault()
            formData = new FormData(commentForm)

            fetch('/post/addcomment/', {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => {
                    commentForm.reset()
                    location.reload()
                })
                .catch((error) => {
                    console.error('Error:', error)
                })
        })
    </script>
{% endblock %}
