{% extends 'layouts/layout.html' %}
{% block title %}| Acerca de...{% endblock %}

{% block content %}
    <div class="px-5 py-2 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold">Acerca de los creadores...</h1>
            <p class="col-md-10 fs-5">Este blog fue desarrollado por <strong>Jorge Guzmán</strong> y <strong>Juan
                Almazán</strong>, programadores de México y Argentina; trabajamos en colaboración bajo el marco de
                trabajo ágil denominado <strong>"Scrum"</strong> con la herramienta colaborativa <strong>Trello</strong>
                para organizar las tareas en tarjetas y sprint de las semanas de trabajo y junto con <strong>Github</strong>
                para compartir el código.
            </p>
        </div>
    </div>

    <div class="row align-items-md-stretch mb-5">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <img src="/media/images/jorge.png"
                     alt="foto jorge" class="img-thumbnail rounded-circle" width="300" height="300">
                <h2 class="my-3">Jorge Guzmán</h2>
                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look.
                    Then, mix and match with additional component themes and more.</p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark border rounded-3">
                <img src="/media/images/juan.png"
                     alt="foto juan" class="img-thumbnail rounded-circle" width="300" height="300">
                <h2 class="my-3">Juan Almazán</h2>
                <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be
                    sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of
                    both column's content for equal-height.</p>
            </div>
        </div>
    </div>
{% endblock %}
