{% extends 'layouts/layout.html' %}
{% block title %}| Acerca de... {% endblock %}

{% block content %}
    <h1>Acerca de</h1>

    <div>
        <p>Este blog fue creado por <strong>Jorge Guzmán Aguilar y Juan Almazán</strong>, dos programadores
            de diferentes países que trabajaron juntos para desarrollarlo.
            A continuación, encontrarás información más detallada sobre cada uno</p>
    </div>

    <div>
        <div>
            <h4 style="margin-left: 50px;display:inline;float:left">Jorge Guzmán Aguilar</h4>
            <h4 style="margin-right: 50px;display:inline;float:right">Juan Almazán</h4>
        </div>

        <div>
            <img style="margin-left: 50px;display:inline;float:left" width="260" height="395"
                 src="https://images.unsplash.com/photo-1655487420177-54b4d969c5a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
                 alt="imagen de Jorge">
            <img style="margin-right: 50px;display:inline;float:right" width="260" height="395"
                 src="https://images.unsplash.com/photo-1653908093988-5149d9159742?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                 alt="imagen de Juan">

        </div>


        <div>
            <p style="margin-right: auto;display:inline;float:left">Jorge Guzmán Aguilar Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Aliquam maximus turpis eu ligula posuere varius. Vestibulum ornare
                neque sed facilisis tincidunt. Pellentesque interdum fringilla arcu et lobortis. Morbi dignissim
                lacus et elit tincidunt pretium. Integer pharetra, arcu ut pulvinar pharetra, est enim dignissim
                lorem, sed tristique massa mi vitae justo. Suspendisse mi dolor, iaculis eget risus ac, viverra
                accumsan quam. Morbi convallis in ante nec ultrices. Proin ante sem, ultricies sed commodo ac,
                viverra eget neque. Proin tincidunt gravida tortor, eu commodo ipsum. Curabitur ultricies elementum
                laoreet. Suspendisse dictum mauris rutrum quam semper, in commodo odio hendrerit.</p>
            <p style="margin-left: auto;display:inline;float:right">Juan Almazán Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Aliquam maximus turpis eu ligula posuere varius. Vestibulum ornare
                neque sed facilisis tincidunt. Pellentesque interdum fringilla arcu et lobortis. Morbi dignissim
                lacus et elit tincidunt pretium. Integer pharetra, arcu ut pulvinar pharetra, est enim dignissim
                lorem, sed tristique massa mi vitae justo. Suspendisse mi dolor, iaculis eget risus ac, viverra
                accumsan quam. Morbi convallis in ante nec ultrices. Proin ante sem, ultricies sed commodo ac,
                viverra eget neque. Proin tincidunt gravida tortor, eu commodo ipsum. Curabitur ultricies elementum
                laoreet. Suspendisse dictum mauris rutrum quam semper, in commodo odio hendrerit.</p>
        </div>
    </div>
{% endblock %}
