{% extends 'layouts/layout.html' %}
{% block title %}| Resultados de búsqueda...{% endblock %}
{% block content %}
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Artículos</h3>

            {% for post in posts %}
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">{{ post.title }}</h2>
                    <p class="blog-post-meta">{{ post.published_at }} <span>{{ post.user.profile.nombre }}</span>
                    </p>
                    <p style="overflow: hidden; height: 100px; text-overflow: ellipsis;">{{ post.content|striptags|safe }}
                    <div class="mt-3">
                        <a href="{% url 'blogpostread' post.pk %}">Continuar leyendo...</a>
                    </div>
                </article>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div class="position-sticky shadow rounded" style="top: 2rem;">
                <div class="p-4 mb-3 rounded" style="background: rgb(229,229, 229);">
                    <h4 class="fst-italic">Developers</h4>
                    <p class="mb-0"><strong>Jorge G.</strong> y <strong>Juan A.</strong> han desarrollado este Blog como
                        proyecto final del curso Python en <strong>Coderhouse</strong></p>
                    <a href="{% url 'about' %}">Acerca de...</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
