{% extends 'layouts/layout.html' %}

{% block title %} | Home{% endblock %}

{% block content %}
    <!-- Último Post -->
    <div class="p-4 p-md mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Title</h1>
            <p class="lead my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolorem eos, hic iste
                iusto labore odio officiis pariatur, reiciendis saepe, similique tempore tenetur ullam vel veritatis.
                Fugit pariatur temporibus voluptatibus.</p>
            <p class="lead mb-0">
                <a href="" class="text-white fw-bold">Continuar leyendo...</a>
            </p>
        </div>
    </div>

    <!-- Penúltimo y antepenúltimo Post -->
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position static"><strong
                        class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Feature post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus,
                        quaerat?</p>
                    <a href="" class="stretched-link">Continuar leyendo...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position static"><strong
                        class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Feature post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus,
                        quaerat?</p>
                    <a href="" class="stretched-link">Continuar leyendo...</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"/>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <!-- Demás posts -->
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Artículos</h3>

            <!-- Iterar los Post recibidos -->
            <article class="blog-post">
                <h2 class="blog-post-title mb-1">Sample post</h2>
                <p class="blog-post-meta">January 1 2022 by <a href="">Mark</a></p>
            </article>
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Developers</h4>
                    <p class="mb-0">Jorge G. y Juan A. han desarrollado este Blog como proyecto final del curso Python
                        de Coderhouse</p>
                    <a href="#" class="stretched-link">Acerca de...</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
