{% extends 'layouts/layout.html' %}
{% block title %}| Regístrate{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="p-4 my-4 w-75 shadow rounded mx-auto">
        <header class="text-center mb-5">
            <p class="h2">Blog</p>
            <p class="h6">regístrate</p>
        </header>

        <div class="mt-2 mx-3">
            <form action="{% url 'register' %}" method="post" autocomplete="off">
                {% csrf_token %}
                <div class="d-flex flex-column gap-3">
                    {{ form_register|crispy }}
                </div>
                <div class="my-4 d-flex gap-2 justify-content-end">
                    <button type="submit" class="btn btn-dark">Registrarme</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
